<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} ejercicio</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" [(ngModel)]="ejercicio.nombre" placeholder="Nombre">
        <label for="descripcion">Descripcion:</label>
        <textarea class="form-control" id="descripcion" [(ngModel)]="ejercicio.descripcion" placeholder="Breve descripcion del ejercicio" rows="5"></textarea>
        <label for="materiales">Materiales:</label>
        <input class="form-control" id="materiales" [(ngModel)]="ejercicio.materiales" placeholder="Materiales necesarios">
        <label for="carga">Carga:</label>
        <input class="form-control" id="carga" [(ngModel)]="ejercicio.carga" placeholder="Carga">
        <label for="video">Video:</label>
        <input class="form-control" id="video" [(ngModel)]="ejercicio.video" placeholder="Enlace a video" (blur)="validarUrl(ejercicio.video)" >
        <label for="imagen">Imagen:</label>
        <input class="form-control" id="imagen" [(ngModel)]="ejercicio.imagen" type="file" (change)="onFileSelected($event)" accept="image/*" >
        
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarEjercicio()">Guardar <i class="bi bi-bookmark-check-fill"></i></button>
  </div>