.container{
  max-width: 100%;
}
#seccion1 {
    height: 280px; /* Establecer un ancho del 30% para la primera secci贸n */
    background-color: #121116;
}
  
#seccion2 {
    height: 800px; /* Establecer un ancho del 40% para la segunda secci贸n */
    background-color: #25292c;
    text-align: center;
}
  
#seccion3 {
    height: 250px; /* Establecer un ancho del 30% para la tercera secci贸n */
    background-color: #1d2124;
}
#seccion4 {
  height: 150px; /* Establecer un ancho del 30% para la tercera secci贸n */
  background-color: #2e3439;
}

button {
  margin-top: 20px;
    margin-right: 80px;
    margin-left: 80px;
}