<div class="container">
  <div class="section" id="seccion1">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/imagen1.jpg" class="d-block w-100" alt="primera imagen">
          <div class="carousel-caption d-none d-md-block">
            <h1>NO PAIN NO GAIN</h1>
            <p>Motivation is what gets you. Habit is what keeps you going.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/imagen2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>WORK HARD, WORK SMART</h1>
            <p>The body achieves what the mind believes.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/imagen3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>STAY CONSISTENT, BE PATIENT</h1>
            <p>Be stronger than your excuses.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="seccion2">
    <button (click)="verEjercicio()" class="btn btn-dark" id="boton_ejercicio">EJERCICIOS</button>
    <button type="button" class="btn btn-dark" id="boton_rutina">RUTINAS</button>
  </div>
  <div class="section" id="seccion3">

  </div>
  <div class="section" id="seccion4">
    
  </div>
</div>
<router-outlet></router-outlet>
