<div class="container">
  <div class="row">
    <div id="seccion1">
      
    </div>

    <div id="seccion2">
      <button (click)="verLista()" class="btn btn-dark" id="boton_ejercicio">EJERCICIOS</button>
      <button type="button" class="btn btn-dark" id="boton_rutina">RUTINAS</button>
      <!--<i class="bi bi-bookmark"></i> -->
    </div>

    <div id="seccion3">
      
    </div>

    <div id="seccion4">
      
    </div>
  </div>
</div>
<!-- Es una directiva proporcionada por Angular que se utiliza en las plantillas HTML para indicar dónde se deben renderizar 
  los componentes correspondientes a las rutas definidas en la configuración del enrutador. -->
<router-outlet></router-outlet>
