.button-container {
    display: flex;
    justify-content: flex-end;
}

.container {
    margin-top: 40px;
    width: 200%;
    background-color: #1d2124;
    color: aliceblue;
}

.list-container {
    max-height: 600px; /* Altura máxima del listado de ejercicios con scroll */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Ocultar la barra de desplazamiento en navegadores que lo soporten */
}

h2 {
    font-weight: bold;
    text-align: center;
}

.col-md-4,.col-md-3{
    color: #73828e;
}



#boton_eliminar, #boton_editar {
    margin: 10px;
    margin-top: 10px;
    color: aliceblue;
    float: right; /* Coloca el botón a la derecha */
}

.col{
    margin-top: 5px;
}