<div class="container">
    <div class="list-container">
      <div class="list-group list-group-scroll">
        <div class="row white-background">
          <h2 >Detalles de {{rutina?.nombre}}</h2>
         </div>
         
         <div class="row white-background">
           <label class="col-md-3" for="nombre">Nombre:</label>
           <span class="col-md-9 offset-2 offset-md-0">{{rutina?.nombre}}</span>
         </div>
         <div class="row">
           <label class="col-md-3" for="descripcion">Descripcion:</label>
           <span class="col-md-9 offset-2 offset-md-0">{{rutina?.descripcion}}</span>
         </div>
         <div class="row">
          <label class="col-md-3" for="observaciones">Observaciones:</label>
          <span class="col-md-9 offset-2 offset-md-0">{{rutina?.observaciones}}</span>
         </div>
         <!-- <div class="row">
          <label class="col-md-3" for="ejercicios">Ejercicios:</label>
          <span class="col-md-9 offset-2 offset-md-0">{{rutina?.ejercicios?}}</span>
         </div> -->
       
         <div class="row">
           <div class="col-md-3">
             <button class="col-auto btn btn-danger" id="boton_eliminar" (click)="eliminarRutina()">Eliminar <i class="bi bi-trash-fill"></i></button>
           </div>
           <div class="col-md-3">
             <button class="col-auto btn btn-primary" id="boton_editar" (click)="editarRutina()">Editar <i class="bi bi-box-arrow-up-right"></i></button>
           </div>
      </div>
    </div>
  </div>