<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} rutina</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" [(ngModel)]="rutina.nombre" placeholder="Nombre">
        <label for="descripcion">Descripcion:</label>
        <textarea class="form-control" id="descripcion" [(ngModel)]="rutina.descripcion" placeholder="Breve descripcion de la rutina" rows="5"></textarea>
        <label for="observaciones">Observaciones:</label>
        <input class="form-control" id="observaciones" [(ngModel)]="rutina.observaciones" placeholder="Observaciones del ejercicio">
        <label for="ejercicios">Ejercicios:</label>
        <input class="form-control" id="tipo" [(ngModel)]="rutina.ejercicios" placeholder="Tipo de ejercicio">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarRutina()">Guardar <i class="bi bi-bookmark-check-fill"></i></button>
  </div>