.container {
    position: absolute;
    top: 480px; /* Se coloca en la parte superior de la página */
    width: 40%;
    margin-left: 20%;
}

.list-container {
    max-height: 590px; /* Altura máxima del listado de ejercicios con scroll */
    overflow-y: auto; /* Mostrar barra de desplazamiento vertical si es necesario */
    scrollbar-width: none; /* Ocultar la barra de desplazamiento en navegadores que lo soporten */
}

h2 {
    color: aliceblue;
}

#boton_aniadir {
    margin-top: 15px;
}
