.container {
    position: absolute; /* Posición absoluta */
    top: 500px; /* Se coloca en la parte superior de la página */
    left: 10%; /* Ajusta la posición izquierda si es necesario */
    width: 40%;
}

h2 {
    color: aliceblue;
}

.list-group-scroll {
    max-height: 300px; /* Altura máxima del listado de ejercicios con scroll */
    overflow-y:visible; /* Mostrar barra de desplazamiento vertical si es necesario */
  }
