<div class="container">
  <div class="row">
    <h2>Lista de ejercicios</h2>
  </div>
  <div class="row">
    <div class="list-group">
      <button *ngFor="let ejercicio of ejercicios"
        class="list-group-item list-group-item-action"
        (click)="elegirEjercicio(ejercicio)"
        [class.active]="ejercicio === ejercicioElegido">{{ejercicio.nombre}}</button>
    </div>
    <button type="button" class="btn btn-outline-primary bi bi-plus-circle-fill" (click)="aniadirEjercicio()">Crear ejercicio</button>
    <div class="col-md-6" *ngIf="ejercicioElegido">
      <app-ejercicio-detalles [ejercicio]="ejercicioElegido"
        (ejercicioEditado)="ejercicioEditado($event)"
        (ejercicioEliminado)="eliminarEjercicio($event)"
        ></app-ejercicio-detalles>
        
    </div>
  </div>
</div>