.container {
    top: 500px; /* Se coloca en la parte superior de la página */
    width: 250%;
    background-color: #1d2124;
    color: aliceblue;
    margin-left: 70%;
    border-style:solid;
    border-image: url('../../assets/difuminao.avif') 2 round;
    border-width: 2px;
}

.container .row {
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
}

.list-container {
    max-height: 300px; /* Establece la altura máxima del contenedor */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}

h2 {
    font-weight: bold;
    text-align: center;
}

.col-md-3 {
    color: #73828e;
}

#boton_eliminar {
    margin: 10px;
    margin-top: 10px;
    color: aliceblue;

}

#boton_editar {
    margin: 10px;
    margin-top: 10px;
    color: aliceblue;
}