.container {
    position: absolute;
    background-color: #1d2124;
    color: aliceblue;
    border-style:solid;
    border-image: url('../../assets/difuminao.avif') 1 round;
    border-width: 2px;
    margin-top: 70px;
    margin-left: 40px;
}

h2 {
    font-weight: bold;
    text-align: center;
}

.col-md-3 {
    color: #73828e;
}

#boton{
    padding: 8px;
    width: 120px;
    margin: 10px;
    margin-top: 10px;
    color: aliceblue;
}