<div class="container">
  <div class="list-container">
    <div class="list-group list-group-scroll">
      <div class="row white-background">
        <h2 >Detalles de {{ejercicio?.nombre}}</h2>
       </div>
       
       <div class="row white-background">
         <label class="col-md-3" for="nombre">Nombre:</label>
         <span class="col-md-9 offset-2 offset-md-0">{{ejercicio?.nombre}}</span>
       </div>
       <div class="row">
         <label class="col-md-3" for="descripcion">Descripcion:</label>
         <span class="col-md-9 offset-2 offset-md-0">{{ejercicio?.descripcion}}</span>
       </div>
       <div class="row">
        <label class="col-md-3" for="observaciones">Observaciones:</label>
        <span class="col-md-9 offset-2 offset-md-0">{{ejercicio?.observaciones}}</span>
       </div>
       <div class="row">
        <label class="col-md-3" for="tipo">Tipo:</label>
        <span class="col-md-9 offset-2 offset-md-0">{{ejercicio?.tipo}}</span>
       </div>
       <div class="row">
         <label class="col-md-3" for="musculosTrabajados">MusculosTrabajados:</label>
         <span class="col-md-9 offset-2 offset-md-0">{{ejercicio?.musculosTrabajados}}</span>
        </div>
        <div class="row">
          <label class="col-md-3" for="materiales">Materiales:</label>
          <span class="col-md-9 offset-2 offset-md-0">{{ejercicio?.material}}</span>
        </div>
        <div class="row">
          <label class="col-md-3" for="dificultad">Dificultad:</label>
          <span class="col-md-9 offset-2 offset-md-0">{{ejercicio?.dificultad}}</span>
        </div>
         <!-- Añadir multimedia-->
        <div class="row">
          <label class="col-md-3" for="multimedia">Multimedia:</label>
          <span class="col-md-9 offset-2 offset-md-0">
            <ul>
              <li *ngFor="let elemento of ejercicio?.multimedia">{{ elemento }}</li>
            </ul>
          </span>
        </div>
        <div class="button-container">
          <button class="col-auto btn btn-danger" id="boton_eliminar" (click)="eliminarEjercicio()">Eliminar <i class="bi bi-trash-fill"></i></button>
          <button class="col-auto btn btn-primary" id="boton_editar" (click)="editarEjercicio()">Editar <i class="bi bi-box-arrow-up-right"></i></button>
        </div>
    </div>
  </div>
</div>